node_modules
# Keep environment variables out of version control
.env

/generated/prisma

back-end/uploads/
*.timestamp-*.mjs
prisma/examples/

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
